<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <!-- File used for testing; uncomment for test -->
     <!--add key="MasterSchedulePath" value= "P:\\PTP_v2.0\\_Nicole\\Templates and Plan\\Testing Template.xlsx"/>--> 
    <!-- Should work with current ASTM Path Structure-->
    <!-- ToDo: This name shoudl be generic; the approach is not limited to MasterSchedule Path-->
     <add key="MasterSchedulePath" value="X:\\CTP_Private\\PTP\\2014_2015_Status_Final_Reports and Master Sched.xlsx"/>   
  </appSettings>
</configuration>
